body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .tablero{
        display: grid;
        grid: repeat(3,10vw)/repeat(3,10vw);
        gap:5px;
        border: 2px solid black;
        padding: 20px;
    }

        .cuadrado{
            border: 2px solid red;
        }

